<!-- <mat-tab-group color="primary" backgroundColor="primary" dynamicHeight>
  <mat-tab label="Options"> -->
    <p *ngIf="serverData.length === 0">Please Select a row in Table</p>
    <mat-form-field style=" margin : 0px 6px;" class="example-form-field" *ngFor="let data of serverData; let i = index;">
      <mat-label *ngIf="!data.disable">{{data.name}}</mat-label>
      <input *ngIf="!data.disable" [disabled]="data.disable" matInput type="{{data.type}}" [name]="'name_' + i" [(ngModel)]="data.value" required={{data.required}}>
      <button mat-button *ngIf="data.value && !data.disable" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-divider></mat-divider>

  <!-- </mat-tab>
  <mat-tab label="Update">
    <mat-form-field style=" margin : 0px 3px;" class="example-form-field" *ngFor="let data of serverData; let i = index;">
      <mat-label>{{data.name}}</mat-label>
      <input matInput type="text" [name]="'name_' + i" [(ngModel)]="data.value" required={{data.required}}>
      <button mat-button *ngIf="data.value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-divider></mat-divider>
    <button style=" margin : 10px;" mat-raised-button color="primary">update</button>
  </mat-tab>
  <mat-tab label="Add">
    <mat-form-field style=" margin : 0px 3px;" class="example-form-field" *ngFor="let data of serverDataAdd; let i = index;">
      <mat-label>{{data.name}}</mat-label>
      <input matInput type="text" [name]="'name_' + i" [(ngModel)]="data.value" required={{data.required}}>
      <button mat-button *ngIf="data.value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-divider></mat-divider>
    <button style=" margin : 10px;" mat-raised-button color="primary">Add</button>
  </mat-tab>
</mat-tab-group> -->

